<main>
  <h1>TPOP Battle simulator {{ version }}</h1>
  <mat-card>
    <h2>Soldiers</h2>
	  <mat-slider showTickMarks discrete min="0" max="20" step="1">
      <mat-label>You</mat-label>
      <input matSliderThumb [(ngModel)]="config.ownSoldiers" (valueChange)="calculateProbability()">
    </mat-slider>
	  <mat-slider showTickMarks discrete min="0" max="20" step="1">
      <mat-label>Enemy</mat-label>
      <input matSliderThumb [(ngModel)]="config.enemySoldiers" (valueChange)="calculateProbability()"/>
    </mat-slider>
  </mat-card>
  <p>You win with a probability of {{ Math.round(result.getWinProbability() * 1000) / 10 }} % </p>
  <div id="battle-prob-chart"></div>
</main>

<router-outlet/>
